<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <!-- Static navbar -->
    <div class="title-container">
        <a mat-button routerLink="/home"><h1>The user friendly website</h1></a>
    </div>
    <router-outlet></router-outlet>
</div>
