.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.password-container {
    display: flex;
    flex-direction: column;
}

#app {
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

#video {
    background-color: #000000;
}

#canvas {
    display: none;
}

li {
    display: inline;
    padding: 5px;
}
