<div class="container">
    <mat-horizontal-stepper #stepper linear>
        <mat-step [editable]="true" [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your name</ng-template>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input formControlName="username" matInput placeholder="Username" required>
                </mat-form-field>
                <div>
                    <button [disabled]="!firstFormGroup.valid" mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [editable]="true" [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Fill out your password</ng-template>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput placeholder="Password" required
                           type="password">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input [errorStateMatcher]="matcher" formControlName="passwordConfirm" matInput
                           placeholder="Confirm Password"
                           required type="password">
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button [disabled]="!secondFormGroup.valid" mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Add face recognition</ng-template>
            <div id="app">
                <div [hidden]="captures !== undefined">
                    <div>
                        <video #video autoplay height="480" id="video" width="640"></video>
                    </div>
                    <div>
                        <button (click)="capture()" id="snap">Snap Photo</button>
                    </div>
                    <canvas #canvas height="480" id="canvas" width="640"></canvas>
                </div>
                <div [hidden]="captures === undefined">
                    <img src="{{captures}}"/>
                    <div>
                        <button (click)="captures = undefined">Retake Photo</button>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button [disabled]="captures === undefined" mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button (click)="save()" mat-button>Confirm</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <span>You already have an account? <a routerLink="/login">Login</a> instead</span>
</div>
