<div class="container">
    <div>
        <button (click)="startRecording()" *ngIf="!isRecording && !blobEncoded" class="start-button">Start Recording
        </button>
        <button (click)="stopRecording()" *ngIf="isRecording && !blobEncoded" class="stop-button">Stop Recording
        </button>
        <button (click)="clearRecordedData()" *ngIf="!isRecording && blobEncoded" class="cancel-button">Clear Recording
        </button>
        <div *ngIf="isRecording && !blobEncoded"> {{recordedTime}} </div>
        <div>
            <audio *ngIf="!isRecording && blobEncoded" controls>
                <source [src]="blobEncoded" type="audio/webm">
            </audio>
        </div>
    </div>
</div>
