<div class="container">
    <mat-slide-toggle
        (change)="loginWay = !loginWay">{{(loginWay) ? 'Login using Biometrics' : 'Login using Credentials'}}
    </mat-slide-toggle>
    <form [formGroup]="firstFormGroup" [hidden]="!loginWay">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput placeholder="Username" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Password" required type="password">
        </mat-form-field>
        <div>
            <button (click)="login()" [disabled]="!firstFormGroup.valid" mat-button>Login</button>
        </div>
    </form>
    <div [hidden]="loginWay" id="app">
        <div [hidden]="captures !== undefined">
            <div>
                <video #video autoplay height="480" id="video" width="640"></video>
            </div>
            <div>
                <button (click)="capture()" id="snap">Snap Photo</button>
            </div>
            <canvas #canvas height="480" id="canvas" width="640"></canvas>
        </div>
        <div [hidden]="captures === undefined">
            <img src="{{captures}}"/>
            <div>
                <button (click)="captures = undefined">Waiting for response</button>
            </div>
        </div>
    </div>
    <span>You don't have an account? <a routerLink="/register">Register</a> instead</span>
</div>
